In [17]:
import numpy as np
import pandas as pd

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
from sklearn.metrics import mean_squared_error , mean_absolute_error #we did not used this  so no need to  import

In [21]:
data = pd.read_csv("BostonHousing.csv")

In [22]:
df = pd.DataFrame(data)
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [23]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [24]:
X = df[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad','ptratio', 'b', 'lstat']]
y = df['medv']

In [25]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size = 0.20)

In [26]:
reg = LinearRegression()

In [28]:
reg.fit(X_train,y_train)
y_pred = reg.predict(X_test)
y_pred

array([24.35702752, 20.85032904, 15.71989216, 22.88205095, 26.57886153,
        7.49901592, 23.4680308 , 25.11024893, 17.31813107, 13.031669  ,
       18.20234712, 23.38707015, 34.28913727, 19.54505002, 33.62554863,
       17.31654122, 19.55509517, 18.20216377, 11.61448983, 26.92425744,
       27.74506844, 31.88265909, 34.02239086,  9.66208919, 31.19296018,
       17.24834178, 20.02708531,  9.96965334, 16.476279  , 18.00983987,
       13.07167622, 12.50534576, 12.71676498, 11.19386717, 23.75320463,
       22.28054447, 25.94305631, 31.15651909, 23.98265873, 22.77028959,
       27.76695241, 18.07334498, 19.16112964, 11.19071261, 32.93677516,
       17.89319253, 35.24794185, 21.18531359, 35.64656135, 24.4466484 ,
       33.01346241, 24.41712112, 21.75222743, 20.79633749, 27.55213789,
       19.45258329, 33.31249475, 20.42054521, 20.91890641,  8.44630506,
       25.80689847, 16.75681064, 20.89569653, 19.56261296, 33.73923336,
       24.64926037, 24.23177898, 38.15139268, 20.08339394, 33.32204756,
       15.65729107, 14.41936011, 20.3094449 , 18.17909974, 25.19923051,
       14.35008452, 18.34954792, 23.34767656, 19.61964362, 37.81834649,
       23.74488954,  5.76485611, 24.63759734, 27.50727791, 15.78052384,
       24.47499282,  0.80849465,  6.2978221 , 17.39738154, 35.08284649,
       22.71899895, 14.12200193, 17.38834644, 16.45001848, 18.35418451,
       18.18186303, 31.87208349, 18.20165732, 16.77835905, 27.30082359,
       37.99676982, 19.09531424])

In [29]:
print(y_pred)

[24.35702752 20.85032904 15.71989216 22.88205095 26.57886153  7.49901592
 23.4680308  25.11024893 17.31813107 13.031669   18.20234712 23.38707015
 34.28913727 19.54505002 33.62554863 17.31654122 19.55509517 18.20216377
 11.61448983 26.92425744 27.74506844 31.88265909 34.02239086  9.66208919
 31.19296018 17.24834178 20.02708531  9.96965334 16.476279   18.00983987
 13.07167622 12.50534576 12.71676498 11.19386717 23.75320463 22.28054447
 25.94305631 31.15651909 23.98265873 22.77028959 27.76695241 18.07334498
 19.16112964 11.19071261 32.93677516 17.89319253 35.24794185 21.18531359
 35.64656135 24.4466484  33.01346241 24.41712112 21.75222743 20.79633749
 27.55213789 19.45258329 33.31249475 20.42054521 20.91890641  8.44630506
 25.80689847 16.75681064 20.89569653 19.56261296 33.73923336 24.64926037
 24.23177898 38.15139268 20.08339394 33.32204756 15.65729107 14.41936011
 20.3094449  18.17909974 25.19923051 14.35008452 18.34954792 23.34767656
 19.61964362 37.81834649 23.74488954  5.76485611 24.63759734 27.50727791
 15.78052384 24.47499282  0.80849465  6.2978221  17.39738154 35.08284649
 22.71899895 14.12200193 17.38834644 16.45001848 18.35418451 18.18186303
 31.87208349 18.20165732 16.77835905 27.30082359 37.99676982 19.09531424]